# Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset

In [57]:
df=pd.read_csv("../data/raw/anime.csv")

# Inspect dataset

In [58]:
df.head(2)

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,"Sep 1, 2001",...,Bones,Original,1 hr 55 min,R - 17+ (violence & profanity),189.0,602,1448,206248.0,360978,https://cdn.myanimelist.net/images/anime/1439/...

In [59]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  str
 2   English name  24905 non-null  str
 3   Other name    24905 non-null  str
 4   Score         24905 non-null  str
 5   Genres        24905 non-null  str
 6   Synopsis      24905 non-null  str
 7   Type          24905 non-null  str
 8   Episodes      24905 non-null  str
 9   Aired         24905 non-null  str
 10  Premiered     24905 non-null  str
 11  Status        24905 non-null  str
 12  Producers     24905 non-null  str
 13  Licensors     24905 non-null  str
 14  Studios       24905 non-null  str
 15  Source        24905 non-null  str
 16  Duration      24905 non-null  str
 17  Rating        24905 non-null  str
 18  Rank          24905 non-null  str
 19  Popularity    24905 non-null  int64
 20  Favorites     24905 non-null  int64
 21  Scored By     24905 non-null  str
 22  Members       24905 non-null  int64
 23  Image URL     24905 non-null  str
dtypes: int64(4), str(20)
memory usage: 4.6 MB

In [60]:
df.shape

(24905, 24)

In [61]:
df.describe()

           anime_id    Popularity      Favorites       Members
count  24905.000000  24905.000000   24905.000000  2.490500e+04
mean   29776.709014  12265.388356     432.595222  3.710496e+04
std    17976.076290   7187.428393    4353.181647  1.568252e+05
min        1.000000      0.000000       0.000000  0.000000e+00
25%    10507.000000   6040.000000       0.000000  2.090000e+02
50%    34628.000000  12265.000000       1.000000  1.056000e+03
75%    45240.000000  18491.000000      18.000000  9.326000e+03
max    55735.000000  24723.000000  217606.000000  3.744541e+06

In [62]:
df.isnull().sum()

anime_id        0
Name            0
English name    0
Other name      0
Score           0
Genres          0
Synopsis        0
Type            0
Episodes        0
Aired           0
Premiered       0
Status          0
Producers       0
Licensors       0
Studios         0
Source          0
Duration        0
Rating          0
Rank            0
Popularity      0
Favorites       0
Scored By       0
Members         0
Image URL       0
dtype: int64

In [63]:
df.duplicated().sum()

np.int64(0)